@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background-image: url('stars.gif');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
    color: white;
    text-align: center;
}
.box{
    position: relative;
    width: 600px;
    height: 600px;
    background: color #1c1c1c;
    align-content: center;
    /* border-radius: 11px; */
}
.box form{
    width: 750px;
    height: auto;
    position: absolute;
    background-color: #222;
    border-radius: 18px;
    border: 5px white solid;
    padding: 20px 40px 50px 40px;
    align-content: center;
    left: -84px;
    
}
.box form .submit{
    text-align: center;
    
}
.box form .submit input[type="submit"]{

    border:none;
    outline:none;
    padding: 9px 25px;
    width: 100px;
    background-color: white;
    font-weight: 600;
    border-radius: 4px;
    font-size: .9em;
    margin-top: 25px;
}
.box form .submit #submit:hover{
    box-shadow: 7px 7px 11px #15f4ee inset,-6px -5px 11px #15f4ee,-7px -7px 11px #15f4ee inset,6px 5px 11px #15f4ee;
}
/* input box design */
.box form .Name #First_Name{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .Name #Last_Name{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .Address #street{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .Address #city{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .Address #state{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .Address #pin_code{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
.box form .contact #contact{
    position: relative;
    width: 300px;
    border-radius: 6px;

}
legend{
    text-align: center;
    color: white;
    border: .5px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    
}
fieldset{
    margin-top: 30px;
    border-radius: 8px;
}
.box form .rating label{
    margin-right: 40px;
}
.box form .rating .quality .Qua{
    margin-top: 10px;
    margin-bottom: 30px;
}
.box form .rating .money .Mon{
    margin-top: 10px;
    margin-bottom: 30px;
}
.box form .rating .delivery .Del{
    margin-top: 10px;
    margin-bottom: 30px;
}
span{
    font-size: 1.1em;
    font-weight: 350;
}
label:hover span{
    background-color:aqua;
    color: black;
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 1.23em;
    font-weight: 545;
}
input{
    margin-bottom: 17px;
}
/* animation */
.box .ani{
    position: relative;
    animation: animate 3s ease-in-out infinite alternate forwards;
}
@keyframes animate {
    0%{ color:aqua; left: -125px; top: -30px;}
    40%{color: white;}
    50%{color: white;}
    60%{color: white;}
    100%{color: aqua; left: 80px; top: -30px;}
    
}
.box form{
    position: relative;
    animation: form 3s ease-in-out infinite  alternate forwards;
}
@keyframes form {
    0%{ border-color:aqua;}
    40%{border-color: white;}
    50%{border-color: white;}
    60%{border-color: white;}
    100%{border-color: aqua;}
}
